
<h3>An error ocurred while processing you request
    Maintenance team has been informed. It will be fixed soon
    </h3>
<h4>Please contact us at pragim@gmail.com</h4>
<hr />
<h3>Exception Details: </h3>
<div class="alert alert-danger">
    <h4>Exception Path</h4>
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger">
    <h4>Exception Message</h4>
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h4>Stack Trace</h4>
    <p>@ViewBag.StackTrace</p>
</div>